/* 
     配置scss变量
     以下内容为示例代码
*/

// 假如要修改element-plus主题色，请修改如下代码
/* @forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      // 默认主题色 - 修改此值时需同步修改 src/settings.ts 中的 themeColor
      "base": #4080ff,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
); */

/*  CSS 变量 :定义了以后，就可以在其它的Vue组件的scoped中使用 */
:root {
  --menu-background: #fff; // 菜单背景色
  --test-color: red;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
}

/* scss 变量 */
$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 70px; // 导航栏高度
